header(role="banner" aria-label="Site header")
    nav(role="navigation" aria-label="Site navigation")
        ul
            -each val, index  in globals.sitenavlinks
                li
                    a(href=globals.base+val.url)= val.title
                    if(val.subnav)
                        ul
                            -each subval, index in val.subnav
                                li: a(href=globals.base+subval.url)= subval.title
